/* Main Booking Options Page */
.booking-options-page {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F0ECCF;
    padding: 20px;
}

/* Container for Booking Options */
.booking-options-container {
    width: 60%;
    max-width: 650px;
    margin: 20px auto;
    padding: 20px;
    background: whitesmoke;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

/* Booking Option Buttons */
.booking-option-buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.booking-option-buttons button {
    padding: 10px 30px;
    font-size: 1.1rem;
    border: 1px solid #FFB100;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
    background: whitesmoke;
    color: #FFB100;
}

.booking-option-buttons button.active,
.booking-option-buttons button:hover {
    background: #FFB100;
    color: white;
    transform: scale(1.05);
}

/* Booking Section */
.booking-option-section {
    padding: 20px 0;
    border-top: 2px solid #FFB100;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Info Text */
.info-text {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.4;
}

/* Responsive Design */
@media (max-width: 768px) {
    .booking-options-container {
        width: 90%;
        
    }
   
    .booking-option-buttons button {
        width: 90%;
        padding: 12px;
    }
}
