.orders-container {
    max-width: 100%;
    min-height: 100%;
    margin: auto;
    background: #fff;
    overflow: hidden;
}

.title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.orders-grid {
    max-height: 470px; /* Set the max height */
    overflow-y: auto; /* Enable vertical scrolling */
    padding-right: 10px; /* Prevent content from hiding under scrollbar */
}

.orders-grid::-webkit-scrollbar {
    width: 6px;
}

.orders-grid::-webkit-scrollbar-thumb {
    background: #FBC252;
    border-radius: 10px;
}

.customer-order-card {
    background: #F0ECCF;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.customer-order-card:hover {
    transform: translateY(-3px);
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.order-id {
    font-weight: bold;
    color: #007bff;
}

.status {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.status.pending {
    background: rgba(255, 166, 0, 0.847);
    color: white;
}
.status.preparing {
    background: rgb(255, 132, 0);
    color: white;
}
.status.completed {
    background: green;
    color: white;
}

.status.canceled {
    background: red;
    color: white;
}

p {
    margin: 5px 0;
    color: #555;
}

strong {
    color: #000;
}
