/* Main Container */
.registrationform-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../Assests/registrationimage.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Auth Container */
.auth-container {
  padding: 20px;
  width: 50%;
  max-width: 500px;
  background: #f0eccff3;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Tabs */
.auth-tabs {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 20px;
}

.tab-link {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #FFB100;
  background: none;
  border: 2px solid #FFB100;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.tab-link.active {
  background: #FFB100;
  color: white;
}

/* Form Styling */
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.input-field {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Checkbox & Links */
.auth-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.auth-options a {
  text-decoration: none;
  color: #333;
}

.auth-options a:hover {
  text-decoration: underline;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-5px);
  }

  40% {
    transform: translateX(5px);
  }

  60% {
    transform: translateX(-5px);
  }

  80% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.shake {
  animation: shake 0.3s ease-in-out;
}



/* Submit Button */
.auth-btn {
  width: 100%;
  background: #FBC252;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-btn:hover {
  background: #FFB100;
}

/* Responsive Design */
@media (max-width: 768px) {
  .auth-container {
    width: 85%;
    max-width: 400px;
  }
}

@media (max-width: 468px) {
  .auth-container {
    width: 95%;
    max-width: 350px;
  }

  .auth-options {
    flex-direction: column;
    gap: 10px;
  }
}